<mat-toolbar class="bg-primary sticky-top">
    <span>
        <a routerLink="" mat-button class="btn btn-primary">
            <mat-icon>movie</mat-icon>
            Movies
        </a>
    </span>
    <div>
        <a mat-button routerLink="genres" class="text-light">Genres</a>
    </div>
    <div>
        <a mat-button routerLink="actors" class="text-light">Actors</a>
    </div>
    <div>
        <a mat-button routerLink="movietheaters" class="text-light">Movie Theaters</a>
    </div>
    <div>
        <a mat-button routerLink="movies/create" class="text-light">Create Movie</a>
    </div>
</mat-toolbar> 